body {background-color:#008822;
}

h1 {color:red;
}

.ini {color:blue;
}

.ini {font-size: 200%
}

ul {font-size: 300%;
}

ul {background-color: #555555
}

#imagem-um {width: 70%;
	border-style: solid;
	border-color: red;
}
